{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "css" 
}

